.project {
    box-sizing: border-box;
    float: left;
    height: 20vh;
    padding: 1.5vh;
    vertical-align: middle;
    width: 20vh;

    .thumbnail {
        overflow: hidden;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            position: relative;
            width: 100%;
        }

        a {
            float: left;
            height: 100%;
            position: relative;
            width: 100%;

            span {
                display: always;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,0.4);
                color: $grey-color-light;
                padding: 1vh;
                text-align: center;

                h1 {
                    font-size: 2.5vh;
                    margin: 0;
                }

                p {
                    font-size: 1.25vh;
                    color: $grey-color-light;
                }
            }

            &:hover {
                span {
                    display: block;
                }
            }
        }
    }
}
